body {
  background: #454343;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  color: #043008;
}

.space {
  padding: 22px;
}

h1 {
  font-size: 28px;
  color: #81d4fa;
}

.blackhole-img {
  width: 400px;
  border-radius: 10px;
  margin: 12px 0;
}

h2 {
  color: #ffcc80;
  font-size: 20px;
}

p {
  color: #b3e5fc;
  font-size: 30px;
}
